* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    overflow: hidden;
}

.headerLeft {
    grid-area: headerLeft;
    text-align: center;
    color: #ecf0f1;
}

.headerMain {
    grid-area: headerMain;
    text-align: center;
    width: 300px;
    padding: 20px;
    color: #ecf0f1;
}

.headerRight {
    grid-area: headerRight;
    text-align: center;
    color: #ecf0f1;
}

header {
    position: relative;
    top: 0px;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    transform: rotate(0deg);
    grid-template-areas:
        ". headerLeft headerMain headerRight .";
    justify-items: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline #bdc3c7;
    text-underline-offset: 10px;
    background-color: #34495e;
    border-bottom: double 3px #bdc3c7;
}

header :hover {
    color: #2ecc71;
    text-decoration: underline #27ae60;
    cursor: pointer;
}

#pLeft {
    position: absolute;
    left: 15%;
    top: 600px;
    transform: translate(-50%, 6em);
    transform: rotate(45deg);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 72px;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #34495e;
    color: #bdc3c7;
    border: solid 3px #bdc3c7;
}

#pRight {
    position: absolute;
    left: 65%;
    top: 300px;
    transform: translate(-50%, 6em);
    transform: rotate(45deg);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 72px;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #34495e;
    color: #bdc3c7;
    border: solid 3px #bdc3c7;
}