@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
    font-family: 'Montserrat', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

hr {
    width: 20%;
    text-align: center;
    margin: 2em auto;
}

body {
    background-color: #333;
    color: white;
}

main {
    margin-top: 3em;
    padding: 1em;
}

form p {
    padding-bottom: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    padding-left: 1em;
    color: white;
    width: 100%;
    font-size: small;
    text-align: center;
}

.collection {
    text-align: center;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.collectionDetails {
    text-align: center;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.viewMain {
    position: fixed;
    top: 33%;
    left: 50%;
    transform: translate(-50%, 0);
}



/*----button CONTROL----*/
.buttonView {
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #4CAF50;
    outline-style: none;
    cursor: pointer;
}

.buttonView.active {
    box-shadow: 0px 0px 7px 0.5em #4CAF50;
}

/*----GRID CONTROL----*/
.viewGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.editGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.editGrid p {
    font-size: small;
}

.contactGrid {
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.contactGrid p {
    font-size: small;
}

/*----SEARCH CONTROL----*/
#myInput {
    position: relative;
    background-repeat: no-repeat;
    width: 33%;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ddd;
}

.myUL {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li {
    float: none;
    border: 1px solid #ddd;
}

#myUL li a {
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #bbbbbb;
    padding: 12px;
    text-decoration: none;
    color: black;
}

#myUL li a:hover:not(.header) {
    background-color: #4CAF50;
}

.sortBtn {
    padding: 1em 1em;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border-color: rgb(255, 255, 255);
    outline-style: none;
    cursor: pointer;
    margin: 1em;
}

.sortBtn.active {
    outline-style: none;
    color: #808080;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(100, 100, 100);
    cursor: initial;
}