<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>The World Databas (Edit)</title>
    <link rel="stylesheet" href="side.css" />
</head>

<body>
    <header>
        <h1>The World Database (Edit)</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/view">View the World Database</a></li>
                <li><a href="/edit">Edit the World Database</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form method="post" action="/edit">
            <div>
                <h2>Country</h2>
                <p>
                    Navn:<br />
                    <input type="text" name="name" required />
                </p>
                <p>
                    Kontinent:<br />
                    <input type="text" name="continent" required>
                </p>
                <p>
                    Areal: <br />
                    <input type="text" name="areaSize" required />
                </p>
                <p>
                    Befolkningstal:<br />
                    <input type="text" name="population" required />
                </p>
                <p>
                    Styreform:<br />
                    <input type="text" name="government" required />
                </p>
                <p>
                    <br /><input type="submit" value="Send" />
                </p>
            </div>
        </form>
    </main>

    <footer>
        <p>
            &copy; 2020 | Gruppe 4 - Casper Pedersen, Jacob Krag, Mads Møller
        </p>
    </footer>
</body>

</html>