<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>World Database</title>
</head>

<body>
    <header>
        <h1>Welcome to the World Database!</h1>
    </header>
    <main>
        <p>
            <a href="display">Display the World Database </a>(Country, City or Language)<br>
            <a href="edit">Edit the World Database </a>(Country, City or Language)
        </p>
    </main>
    <footer>
        <p>
            &copy; 2020 | Gruppe 4 - Casper Pedersen, Jacob Krag, Mads Møller
        </p>
    </footer>
</body>

</html>